<!DOCTYPE html>
@RenderPage("~/Views/navigation/_navigation.cshtml")

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    d {
        margin: 0px;
        font-size: 20px;
        font-family: Arial;
        font-weight: 500;
    }

    div.container-border {
        margin: 50px 50px 0px;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        background-color: rgba(238, 238, 238, 0.86);
        border-color: rgb(255, 255, 255);
        margin: 0px;
    }
</style>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="container-border" style="padding:10px;">
            <d>Step One: <strong style="color:red; font-weight:600; font-size:28px;">Watch This Video Case Study Right Now</strong></d>
        </div>
        <div class="container" style="padding:10px 5px;">
            <div class="embed-responsive embed-responsive-16by9" >
                <iframe class="embed-responsive-item" width="960" height="540" src="https://www.youtube.com/embed/Mq0pN0osOVQ?autoplay=1" frameborder="0" gesture="media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container">
            <div class="container-border" style="padding:10px;">
                <d>Step Two: <strong style="color:red; font-weight:600; font-size:28px;">Apply Now To See If You Qualify</strong></d>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="container">
                <div class="container">
                    <d>
                        Now that you’ve absorbed all the case studies above and if you feel you’re ready to
                        take the FIRST STEP to lower rates… Apply to see if there are other steps you may
                        take to improve your current situation right now. Takes less than 90 seconds
                    </d>
                </div>
            </div>
            <br>
            <div class="container">
                <span class="container">
                    <button id="myFunction" class="btn btn-primary center-block" onclick="location.href='/Views/pageSchedule/index.cshtml'" style="padding:5px 20px; font-size:22px; height:100px;">Apply Now To See If You Qualify >></button>
                </span>
                <br>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("myFunction").onclick = function () {
            location.href = "'/Views/pageSchedule/index.cshtml'";
    </script>
    @RenderPage("~/Views/footer/_footer.cshtml");
</body>
</html>
