<!DOCTYPE html>
@{
    Page.Title = "Free Case Study";
    //Layout = "Your Layout Page goes here";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    .navbar {
        background-color: black;
    }

    .i {
        color: #ffffff;
        line-height: 1.3em;
        font-size: 28px;
        color: rgb(255, 255, 255);
    }

    .ul {
        padding-left: 5px;
    }

    .button {
        position: relative;
    }
</style>
<section class="navbar">
    <div class="container" style="padding: 6px 0px">
        <div class="row">
            <div class="col-md-6">
                <img class="center-block" src="~/Content/Media/Logo/iRefi-Blue.png" style="width: 150px;">
            </div>
            <div class="col-md-6">
                <div class="text-center" style="font-size:28px; color:#ffffff;">
                    <i>FREE CASE STUDY</i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="container" style="padding-top:20px; text-align:center; color: rgb(64,92,179); font-weight:600; font-size: 20px;">
        <p>Case Study For Kiwi Homeowner:</p>
    </div>
</section>

<section class="container">
    <div class="container" style="padding-top:20px; text-align:center; font-size:45px; line-height:1em;">
        <p>"How to get the lowest rates EVERY TIME & become mortgage free 10 - 20 yrs sooner WITHOUT increasing a dollar on your mortgage repayment"</p>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-6" style="padding: 60px 15px;">
            <img src="~/Content/Media/Image/Future-Dragonz.jpg" class="center-block" width="80%" />
        </div>
        <div class="col-md-6" style="padding: 60px 15px; font-size:16px;">

            <header style="text-align:left;">FREE Case Study Reveals Three Secrets:</header>
            <ul style="list-style-type:none; text-align:left; display:inline;">
                <li>#1 - The BIGGEST Misconception for Homeowners </li>
                <br>
                <li>#2 - Three Major (Costly) Problems When Dealing With the Bank Direct </li>
                <br>
                <li>#3 - The iRefi Three Step System Saving Clients Thousdans from the Banks Today! </li>
            </ul>
        </div>

        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Get Your Free Case Study >></button>

            <div class="container-fluid">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><img src="~/Content/Media/Image/progress.gif" style="width:100%; height:100%;" /></h4>
                                <br>
                            </div>

                            <div class="modal-content" style="text-align:center; font-weight:700; font-size:20px; font-size:30px; ">
                                <span class="row">
                                    Enter your email to get instant access to the case study
                                </span>
                            </div>

                            <div class="modal-footer">
                                <!-- Begin MailChimp Signup Form -->
                                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                                <style type="text/css">
                                    #mc_embed_signup {
                                        background: #fff;
                                        clear: left;
                                        font: 14px Helvetica,Arial,sans-serif;
                                    }
                                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                </style>

                                <div id="mc_embed_signup">
                                    <form action="https://irefi.us12.list-manage.com/subscribe/post?u=32fe5e2a79c83d995c89f73a8&amp;id=1f821d5662" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                            <div class="mc-field-group">
                                                <label for="mce-FNAME">First Name </label>
                                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                            </div>
                                            <div class="mc-field-group">
                                                <label for="mce-EMAIL">
                                                    Email Address  <span class="asterisk">*</span>
                                                </label>
                                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32fe5e2a79c83d995c89f73a8_1f821d5662" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Get Your Case Study Now >>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg btn-block center-block" style="width:85%;"></div>
                                        </div>
                                    </form>
                                </div>
                                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                                <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[2] = 'FNAME'; ftypes[2] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                                <!--End mc_embed_signup-->
                                @*<br>
                                      <span class="container">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" style="color:white; height:50px;">Get Your Case Study Now >></button>
                                    </span>*@
                            </div>
                            <div class="modal-header">
                                <i class="fa_prepended fa fa-expeditedssl" contenteditable="false"></i> <p style="text-align:center;">Your Information is 100% secure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" style="font-size:10px; padding: 10px;">

    <p>2017 iRefi.co.nz</p>
    <br>
    <br>
    <a href="https://irefi.co.nz/security-privacy">Privacy Policy</a>
    <a href="https://irefi.co.nz/Disclosure">Disclosure</a>
    <br>
    <br>
    <p>
        This site is not part of the Facebook website or Facebook Inc Additionally. This site is NOT endorsed by Facebook in any way.
        FACEBOOK is a trademark of FACEBOOK, Inc.
    </p>
</div>

<body>
</body>